Checks: "performance-*,modernize-*,bugprone-*,readability-*,clang-analyzer-*,cppcoreguidelines-*,portability-*,clang-diagnostic-unused-includes"
HeaderFilterRegex: "^(?!.*/build/).*/(include|src|examples)/.*\\.(h|hh|hpp|hxx)$"
WarningsAsErrors: ""
ExtraArgs:
  - "--target=x86_64-pc-linux-gnu"
  - "-std=c++20"
